.container-padding {

	padding-top: 100px;
	min-height: 100%;
	padding-bottom: 40px;
}

.speaker-img {

	padding-top: 50px;
}

.speaker-text {

    font-size: 16px;
    font-weight: 400;
}

table {

    width: 70% !important;
}

.table-header{

	color:#CC0A6E;
}

.top-border {

	border-top-color: #CC0A6E; 
	border-top-style: solid;
}

.table-time{
	color:#009A9A;
}







